		*{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.center-text {
  color: blue;
  font-weight: bold;
  font-size: 50px;
}


@media screen and (max-width: 704px) {
    
}