body{
  margin:0;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:black;
}

.wrap{
  text-align:center;
}

.photo{
  max-width:80vw;
  max-height:70vh;
  display:block;
  margin:0 auto 16px;
}

.text{
  color:white;
  font-weight:bold;
  font-size:32px; 
  margin:0;
}
		*{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}


}
@media screen and (max-width: 704px) {
    
}